.navbarContainer{
    position:fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    margin-bottom: -1rem;

}

.iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-highlight);
    margin-top: 0.5rem;

}

.navbarIcon{
    font-size: 1.5rem;
    margin-bottom: -1rem;
}

.navbarText{
    text-decoration: none;
    text-align: center;
}

@media only screen and (min-width: 600px) {

    .navbarContainer{
        bottom:auto;

    }
  }

